.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
  z-index: 100;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.welcome {
  min-height: 100vh;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: repeating-linear-gradient(135deg, rgba(240, 240, 240, 0.02) 0px, rgba(240, 240, 240, 0.02) 21px, rgba(224, 224, 224, 0.02) 21px, rgba(224, 224, 224, 0.02) 42px, rgba(208, 208, 208, 0.02) 42px, rgba(208, 208, 208, 0.02) 63px, rgba(192, 192, 192, 0.02) 63px, rgba(192, 192, 192, 0.02) 84px, rgba(175, 175, 175, 0.02) 84px, rgba(175, 175, 175, 0.02) 105px, rgba(159, 159, 159, 0.02) 105px, rgba(159, 159, 159, 0.02) 126px, rgba(143, 143, 143, 0.02) 126px, rgba(143, 143, 143, 0.02) 147px, rgba(127, 127, 127, 0.02) 147px, rgba(127, 127, 127, 0.02) 168px), repeating-linear-gradient(45deg, rgba(232, 232, 232, 0.02) 0px, rgba(232, 232, 232, 0.02) 21px, rgba(209, 209, 209, 0.02) 21px, rgba(209, 209, 209, 0.02) 42px, rgba(185, 185, 185, 0.02) 42px, rgba(185, 185, 185, 0.02) 63px, rgba(162, 162, 162, 0.02) 63px, rgba(162, 162, 162, 0.02) 84px, rgba(138, 138, 138, 0.02) 84px, rgba(138, 138, 138, 0.02) 105px, rgba(115, 115, 115, 0.02) 105px, rgba(115, 115, 115, 0.02) 126px, rgba(91, 91, 91, 0.02) 126px, rgba(91, 91, 91, 0.02) 147px, rgba(68, 68, 68, 0.02) 147px, rgba(68, 68, 68, 0.02) 168px), linear-gradient(90deg, #ffffff, #ffffff);
}

.blob {
  position: absolute;
}
.blob--1 {
  width: 10rem;
}
@media screen and (min-width: 75em) {
  .blob--1 {
    width: 40rem;
  }
}
.blob--2 {
  right: 0;
  bottom: 0;
  width: 10rem;
}
@media screen and (min-width: 46.75em) {
  .blob--2 {
    width: 20rem;
  }
}
@media screen and (min-width: 56.25em) {
  .blob--2 {
    width: 30rem;
  }
}
@media screen and (min-width: 75em) {
  .blob--2 {
    width: 40rem;
  }
}

.container {
  position: relative;
  z-index: 100;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter-name {
  font-family: "Poppins";
  font-size: 3em;
  font-weight: 400;
  color: #060678;
  padding: 0.5em;
}
@media screen and (min-width: 46.75em) {
  .enter-name {
    font-size: 6rem;
  }
}
@media screen and (min-width: 75em) {
  .enter-name {
    font-size: 4rem;
  }
}

.form__name {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #f7a725;
  padding: 1em;
  padding-bottom: 0.5em;
  font-size: 2rem;
  color: #EFEFF1;
}
#name:focus {
  outline: none;
}

.form__button {
  background-color: transparent;
  border: 2px solid #f7a725;
  border-radius: 10px;
  color: #f7a725;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 3rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.form__button:hover {
  border: 2px solid #eace09;
}
.form__button:active {
  border: 2px solid #f7a725;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #EFEFF1;
}/*# sourceMappingURL=App.css.map */