@import './scss/abstracts/variables';
@import './scss/layout/navigation';
@import './scss/pages/welcome';
@import './scss/pages/selection';

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
   min-height: 100vh;
   background-color: $gray-lighter;
}